<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<style>
h1 {text-align: center;}
li {margin-bottom: 0.5rem;}
.Critical {color: #994455; font-weight: bold;}
.High {color: #994455;}
.Medium {color: #997700;}
.Low {color: #004488;}
.Wishlist {color: black;}
</style>
<title>Ironic Bug Dashboard</title>
</head>
<body>

{%- macro render_bug(bug) -%}
<li><a href="{{ bug.web_link }}">{{ bug.title }}</a><br>
{{ bug.status }},
<span class="{{ bug.importance }}">{{ bug.importance }}</span>,
created on {{ bug.date_created }}
{%- if bug.assignee %},
assigned to <a href="https://launchpad.net/~{{ bug.assignee }}">
{{ bug.assignee }}</a>
{% endif %}
{%- endmacro -%}

<div class="container">
<hr>

<h1>Stats</h1>

<p>Ironic: {{ ironic_bugs['all'] | length }} bugs +
{{ ironic_bugs['Wishlist'] | length }} wishlist items.
{{ ironic_bugs['New'] | length }} new,
{{ ironic_bugs['In Progress'] | length }} in progress,
{{ ironic_bugs['Critical'] | length }} critical,
{{ ironic_bugs['High'] | length }} high and
{{ ironic_bugs['Incomplete'] | length }} incomplete</p>

<p><a href="https://bugs.launchpad.net/nova/+bugs?field.tag=ironic">
Nova bugs with Ironic tag</a>: {{ nova_bugs['all'] | length }}.
{{ nova_bugs['New'] | length }} new,
{{ nova_bugs['Critical'] | length }} critical,
{{ nova_bugs['High'] | length }} high</p>

<h1>Attention Required</h1>

<h2>Critical Bugs</h2>
<p>Critical bugs must be acted upon soon, or the importance should be lowered.</p>
<ul>
{% for bug in critical_bugs %}
{{ render_bug(bug) }}
{% endfor %}
</ul>

<h2>Triage Needed</h2>
<p>Bugs that have 'Undecided' importance or status 'New' or 'Confirmed'.
Set importance and mark as 'Triaged'.</p>
<ul>
{% for bug in triage_needed %}
{{ render_bug(bug) }}
{% endfor %}
</ul>

<h2>Unassigned In Progress</h2>
<p>Bugs that have 'In Progress' status, but don't have an assignee. Update the status.</p>
<ul>
{% for bug in unassigned_in_progress %}
{{ render_bug(bug) }}
{% endfor %}
</ul>

<h2>Ancient Bugs</h2>
<p>Bugs that are older than 1 year.</p>
<ul>
{% for bug in ancient_bugs %}
{{ render_bug(bug) }}
{% endfor %}
</ul>

<h2>Nova Triaged Bugs</h2>
<p>Nova bugs whose importance is not 'Undecided', or status is not 'New'.</p>
<ul>
{% for bug in nova_triaged_bugs %}
{{ render_bug(bug) }}
{% endfor %}
</ul>

<hr>

<h1>In Progress Bugs</h1>
{% for user, bugs in users | dictsort %}
<h3>{{ user }}</h3>
<ul>
{% for bug in bugs %}
{{ render_bug(bug) }}
{% endfor %}
</ul>
{% endfor %}

<hr>
<p><a href="https://github.com/dtantsur/ironic-bug-dashboard">
Source code, pull requests, suggestions
</a></p>
</div></body></html>

